flows.json
[
    {
        "id": "24923811b8e933c7",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f4c92a06f466a446",
        "type": "mqtt-broker",
        "name": "Eclipse Mosquitto",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "e1ad7a758af6b09b",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#0974da",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#0974da",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0974da",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#399af7",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0974da",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Room Weather",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "a9320d0aaaea03d1",
        "type": "ui_group",
        "name": "Alerts",
        "tab": "c92cb5bdc5eaae90",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d783cb980c3979fc",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "c92cb5bdc5eaae90",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c92cb5bdc5eaae90",
        "type": "ui_tab",
        "name": "Room Weather",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4a0ee0f8cea982d6",
        "type": "ui_group",
        "name": "Temperatue",
        "tab": "c92cb5bdc5eaae90",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "224276b67058b5a9",
        "type": "ui_template",
        "z": "24923811b8e933c7",
        "group": "d783cb980c3979fc",
        "name": "template",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n\n    /*Main background*/\n    body {\n        background: -webkit-linear-gradient(\n            133deg,\n            #020024 0%,\n            #090979 35%,\n            #00d4ff 100%\n            );\n    }\n\n    /*Top bar*/\n    body.nr-dashboard-theme md-toolbar,\n    body.nr-dashboard-theme md-content md-card {\n        background-color: transparent !important;\n        color: #FFFFFF !important;\n    }\n    \n    body.nr-dashboard-theme md-toolbar{\n        border-bottom-style: solid;\n        border-bottom-color: #0000001c;\n    }\n\n    /*Left menu*/\n    /*Sidebar*/\n    body.nr-dashboard-theme md-sidenav {\n        color: white !important;\n        background-color: rgba(0,0,0,0) !important;\n    }\n    /*Hover selection*/\n    a.md-no-style, button.md-no-style {\n        border-radius: 10px !important;\n    }\n    /*Selected*/\n    .nr-menu-item-active div button {\n        border-right: 4px solid rgb(41 98 255) !important;\n    }\n    /*List*/\n    body.nr-dashboard-theme md-sidenav div.md-list-item-inner {\n        color: white !important;\n        background-color: rgba(40,85,165,1) !important;\n        border-radius: 10px !important;\n    }\n\n    /*Groups*/\n    ui-card-panel {\n        background-color: rgba(255,255,255,0.1) !important;\n        border-radius: 10px !important;\n    }\n    .nr-dashboard-theme ui-card-panel {\n        border: none !important;\n    }\n    /*Name groups*/\n    .nr-dashboard-theme ui-card-panel p.nr-dashboard-cardtitle {\n        color: rgba(255, 255, 255, 0.5) !important;\n    }\n\n\n    /*Bouttons*/\n    .nr-dashboard-theme .nr-dashboard-button .md-button {\n        background-color: rgba(255,255,255,.1) !important;\n    }\n    .md-button {\n        border-radius: 10px !important;\n    }\n    \n\n    /*Dropdown menu*/\n    .nr-dashboard-theme md-select-menu{\n        background-color: rgba(40,85,165,1) !important;\n    }\n    .nr-dashboard-theme md-select-menu, .nr-dashboard-theme md-select-menu md-option {\n        background-color: transparent !important;\n    }\n    .nr-dashboard-theme .md-select-menu-container {\n        border-radius: 10px !important;\n        border: none !important;\n    }\n    .nr-dashboard-theme md-select-menu md-option[selected] {\n        color: white !important;\n        background-color: #1a3566 !important;\n    }\n\n    /*Template*/\n    md-card>img, md-card>md-card-header img, md-card md-card-title-media img {\n        border-radius: 10px !important;\n    }\n\n    /* Color picker text BG */\n    .nr-dashboard-theme .color-picker-input-wrapper > input {\n        color: white !important;\n        background-color: transparent !important;\n    }\n    \n    /*Slider Controls*/\n    .nr-dashboard-theme .nr-dashboard-slider .md-sign {\n        background-color: #03a9f4 !important;\n    }\n    \n    .nr-dashboard-theme .nr-dashboard-slider .md-sign:after {\n        border-top-color: #03a9f4 !important;\n    }\n    \n    .nr-dashboard-theme .nr-dashboard-slider .md-focus-ring {\n        background-color: #03a9f4;\n        transform: scale(0.4);\n        opacity: 1;\n    }\n    \n    .nr-dashboard-theme .nr-dashboard-slider .md-thumb:after {\n        background-color: #03a9f4 !important;\n        border-color: #03a9f4 !important;\n    }\n    \n    .nr-dashboard-theme .nr-dashboard-slider .md-track-fill {\n        background-color: #03a9f4;\n    }\n    \n    /*Switch Controls*/\n    .nr-dashboard-theme .nr-dashboard-switch md-switch.md-checked .md-thumb {\n        background-color: #03a9f4;\n    }\n    \n    .nr-dashboard-theme .nr-dashboard-switch md-switch.md-checked .md-bar {\n        background-color: #03a9f4;\n    }\n    \n    .nr-dashboard-chart {\n        height: calc(100% - 55px); !important\n        width: calc(100% - 60px); !important\n    }\n    \n    canvas.chart.chart-line {\n        height: calc(100% + 35px) !important;\n        width: calc(100% - 10px) !important;\n    }\n    \n    .sliderlabels{\n        font-size: 13px;\n    }\n\n</style>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "global",
        "className": "",
        "x": 680,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "eb84ab3643f5fbfe",
        "type": "mqtt in",
        "z": "24923811b8e933c7",
        "name": "",
        "topic": "csc113/serialdata/student15/publish",
        "qos": "2",
        "datatype": "json",
        "broker": "f4c92a06f466a446",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 40,
        "wires": [
            [
                "1049368673b7c66c",
                "e8ed22f0bc30286d",
                "ad14037a1a33952d",
                "c4388f5071757c27",
                "472bade0cb535af3",
                "f111c4b6271f7d51",
                "8472a230c56568a0",
                "def019146002c802",
                "729db34e949c3332",
                "6251571973da4c05"
            ]
        ]
    },
    {
        "id": "1049368673b7c66c",
        "type": "debug",
        "z": "24923811b8e933c7",
        "d": true,
        "name": "Device",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.device[0]",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 20,
        "wires": []
    },
    {
        "id": "0fe98e536f1a15e8",
        "type": "mqtt out",
        "z": "24923811b8e933c7",
        "name": "LED",
        "topic": "csc113/serialdata/student15/subscribe/led",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f4c92a06f466a446",
        "x": 410,
        "y": 560,
        "wires": []
    },
    {
        "id": "ffa2b54a9263333b",
        "type": "inject",
        "z": "24923811b8e933c7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "LED:Deactivated",
        "payloadType": "str",
        "x": 210,
        "y": 560,
        "wires": [
            [
                "0fe98e536f1a15e8"
            ]
        ]
    },
    {
        "id": "8927888a26509a79",
        "type": "inject",
        "z": "24923811b8e933c7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "LED:Activated",
        "payloadType": "str",
        "x": 210,
        "y": 600,
        "wires": [
            [
                "0fe98e536f1a15e8"
            ]
        ]
    },
    {
        "id": "1fc746311f7a8af4",
        "type": "mqtt out",
        "z": "24923811b8e933c7",
        "name": "Alarm",
        "topic": "csc113/serialdata/student15/subscribe/alert",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f4c92a06f466a446",
        "x": 410,
        "y": 700,
        "wires": []
    },
    {
        "id": "6b0ad429f13ab4bd",
        "type": "inject",
        "z": "24923811b8e933c7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Alarm:Activated",
        "payloadType": "str",
        "x": 200,
        "y": 700,
        "wires": [
            [
                "1fc746311f7a8af4"
            ]
        ]
    },
    {
        "id": "60e5b37b4e9a0b26",
        "type": "inject",
        "z": "24923811b8e933c7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Alarm:Deactivated",
        "payloadType": "str",
        "x": 190,
        "y": 740,
        "wires": [
            [
                "1fc746311f7a8af4"
            ]
        ]
    },
    {
        "id": "e8ed22f0bc30286d",
        "type": "debug",
        "z": "24923811b8e933c7",
        "d": true,
        "name": "Fahrenheit",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.Fahrenheit[0]",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 60,
        "wires": []
    },
    {
        "id": "ad14037a1a33952d",
        "type": "debug",
        "z": "24923811b8e933c7",
        "d": true,
        "name": "Celcius",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.Celcius[0]",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 100,
        "wires": []
    },
    {
        "id": "c4388f5071757c27",
        "type": "debug",
        "z": "24923811b8e933c7",
        "d": true,
        "name": "Humidity",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.Humidity[0]",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 140,
        "wires": []
    },
    {
        "id": "472bade0cb535af3",
        "type": "ui_gauge",
        "z": "24923811b8e933c7",
        "name": "Humidty",
        "group": "d783cb980c3979fc",
        "order": 2,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "",
        "label": "%",
        "format": "{{msg.payload.Humidity[0]}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#e99607",
            "#00b500",
            "#357adf"
        ],
        "seg1": "40",
        "seg2": "60",
        "className": "",
        "x": 480,
        "y": 240,
        "wires": []
    },
    {
        "id": "a3f46a7b35250888",
        "type": "ui_switch",
        "z": "24923811b8e933c7",
        "name": "LED Alert",
        "label": "LED Alert",
        "tooltip": "",
        "group": "a9320d0aaaea03d1",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "LED:Activated",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "LED:Deactivated",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 220,
        "y": 500,
        "wires": [
            [
                "0fe98e536f1a15e8"
            ]
        ]
    },
    {
        "id": "efea71d1824ca641",
        "type": "ui_switch",
        "z": "24923811b8e933c7",
        "name": "",
        "label": "Alarm Alert",
        "tooltip": "",
        "group": "a9320d0aaaea03d1",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "Alarm:Activated",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "Alarm:Deactivated",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 210,
        "y": 640,
        "wires": [
            [
                "1fc746311f7a8af4"
            ]
        ]
    },
    {
        "id": "f111c4b6271f7d51",
        "type": "ui_gauge",
        "z": "24923811b8e933c7",
        "name": "Fahrenheit",
        "group": "4a0ee0f8cea982d6",
        "order": 1,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "",
        "label": "째F",
        "format": "{{msg.payload.Fahrenheit[0]}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#357ae9",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "68",
        "seg2": "77",
        "className": "",
        "x": 490,
        "y": 280,
        "wires": []
    },
    {
        "id": "8472a230c56568a0",
        "type": "ui_gauge",
        "z": "24923811b8e933c7",
        "name": "Celcius",
        "group": "4a0ee0f8cea982d6",
        "order": 2,
        "width": "5",
        "height": "3",
        "gtype": "gage",
        "title": "",
        "label": "째C",
        "format": "{{msg.payload.Celcius[0]}}",
        "min": 0,
        "max": "38",
        "colors": [
            "#357adf",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "25",
        "className": "",
        "x": 480,
        "y": 200,
        "wires": []
    },
    {
        "id": "574f65b64c5709f8",
        "type": "ui_slider",
        "z": "24923811b8e933c7",
        "name": "Alarm Slider",
        "label": "<p class=\"sliderlabels\">Threshold</p>",
        "tooltip": "",
        "group": "d783cb980c3979fc",
        "order": 3,
        "width": "6",
        "height": "1",
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "body",
        "x": 310,
        "y": 420,
        "wires": [
            [
                "7a705c9ae13f61b0"
            ]
        ]
    },
    {
        "id": "def019146002c802",
        "type": "function",
        "z": "24923811b8e933c7",
        "name": "Humidity",
        "func": "msg.topic = \"Humidity\";\nmsg.payload = msg.payload.Humidity[0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 260,
        "wires": [
            [
                "c7f115ff083c97aa"
            ]
        ]
    },
    {
        "id": "6f7cdfb7fa74c897",
        "type": "inject",
        "z": "24923811b8e933c7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "100",
        "payloadType": "str",
        "x": 150,
        "y": 420,
        "wires": [
            [
                "574f65b64c5709f8"
            ]
        ]
    },
    {
        "id": "7a705c9ae13f61b0",
        "type": "mqtt out",
        "z": "24923811b8e933c7",
        "name": "Humidity",
        "topic": "csc113/serialdata/student15/subscribe/humid",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f4c92a06f466a446",
        "x": 480,
        "y": 420,
        "wires": []
    },
    {
        "id": "396e7e68b0e77ad0",
        "type": "ui_slider",
        "z": "24923811b8e933c7",
        "name": "Alarm Slider",
        "label": "<p class=\"sliderlabels\">Threshold</p>",
        "tooltip": "",
        "group": "4a0ee0f8cea982d6",
        "order": 3,
        "width": "6",
        "height": "1",
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "body",
        "x": 310,
        "y": 360,
        "wires": [
            [
                "1da4cd2be1dcf21f"
            ]
        ]
    },
    {
        "id": "75679284074a49eb",
        "type": "inject",
        "z": "24923811b8e933c7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "100",
        "payloadType": "str",
        "x": 150,
        "y": 360,
        "wires": [
            [
                "396e7e68b0e77ad0"
            ]
        ]
    },
    {
        "id": "1da4cd2be1dcf21f",
        "type": "mqtt out",
        "z": "24923811b8e933c7",
        "name": "Temperature",
        "topic": "csc113/serialdata/student15/subscribe/temp",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f4c92a06f466a446",
        "x": 490,
        "y": 360,
        "wires": []
    },
    {
        "id": "207dbfae17095373",
        "type": "ui_button",
        "z": "24923811b8e933c7",
        "name": "",
        "group": "a9320d0aaaea03d1",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Test",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Test:Activated",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 230,
        "y": 800,
        "wires": [
            [
                "59aeb27be6da4bf1"
            ]
        ]
    },
    {
        "id": "729db34e949c3332",
        "type": "function",
        "z": "24923811b8e933c7",
        "name": "Fahrenheit",
        "func": "msg.topic =  \"째F\";\nmsg.payload = msg.payload.Fahrenheit[0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 220,
        "wires": [
            [
                "26df1b2705448107"
            ]
        ]
    },
    {
        "id": "6251571973da4c05",
        "type": "function",
        "z": "24923811b8e933c7",
        "name": "Celcius",
        "func": "msg.topic =  \"째C\";\nmsg.payload = msg.payload.Celcius[0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 180,
        "wires": [
            [
                "26df1b2705448107"
            ]
        ]
    },
    {
        "id": "59aeb27be6da4bf1",
        "type": "mqtt out",
        "z": "24923811b8e933c7",
        "name": "Test",
        "topic": "csc113/serialdata/student15/subscribe/test",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f4c92a06f466a446",
        "x": 390,
        "y": 800,
        "wires": []
    },
    {
        "id": "c7f115ff083c97aa",
        "type": "ui_chart",
        "z": "24923811b8e933c7",
        "name": "",
        "group": "d783cb980c3979fc",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#000000",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 910,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "26df1b2705448107",
        "type": "ui_chart",
        "z": "24923811b8e933c7",
        "name": "",
        "group": "4a0ee0f8cea982d6",
        "order": 3,
        "width": "6",
        "height": "5",
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-20",
        "ymax": "120",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#000000",
            "#ffffff",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 910,
        "y": 200,
        "wires": [
            []
        ]
    }
]